<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_boot_template.infrastructure.project.task.due_date_detail.DueDateDetailMapper">

    <insert id="insertDueDateDetail">
        INSERT INTO due_date_details(task_id,
                                     due_date,
                                     postpone_count,
                                     max_postpone_count)
        VALUES (#{taskId.value},
                #{dueDate.value},
                #{postponeCount.value},
                #{maxPostponeCount.value})
    </insert>

    <select id="selectDueDateDetailsByProjectId" resultMap="DueDateDetailDto">
        SELECT tasks.task_id,
               due_date,
               postpone_count,
               max_postpone_count
        FROM tasks
                 INNER JOIN due_date_details
                            on tasks.task_id = due_date_details.task_id
        WHERE project_id = #{value}
            FOR UPDATE
    </select>

    <resultMap id="DueDateDetailDto"
               type="com.spring_boot_template.infrastructure.project.task.due_date_detail.dto.DueDateDetailDto">
        <association property="taskId" javaType="com.spring_boot_template.domain.model.project.task.value.TaskId">
            <result property="value" column="task_id"/>
        </association>
        <association property="dueDateDto"
                     javaType="com.spring_boot_template.infrastructure.project.task.due_date_detail.dto.DueDateDto">
            <result property="value" column="due_date"/>
        </association>
        <association property="postponeCount"
                     javaType="com.spring_boot_template.domain.model.project.task.due_date_detail.value.PostponeCount">
            <result property="value" column="postpone_count"/>
        </association>
        <association property="maxPostponeCount"
                     javaType="com.spring_boot_template.domain.model.project.task.due_date_detail.value.MaxPostponeCount">
            <result property="value" column="max_postpone_count"/>
        </association>
    </resultMap>
</mapper>
