<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring_boot_template.infrastructure.record.RecordMapper">

    <resultMap id="Record" type="com.spring_boot_template.domain.model.record.RecordEntity">
        <association property="recordIdValue" javaType="com.spring_boot_template.domain.model.record.RecordIdValue">
            <constructor>
                <arg name="value" column="record_id"/>
            </constructor>
        </association>
        <association property="column1Value" javaType="com.spring_boot_template.domain.model.record.Column1Value">
            <constructor>
                <arg name="value" column="column1"/>
            </constructor>
        </association>
        <association property="column2Value" javaType="com.spring_boot_template.domain.model.record.Column2Value">
            <constructor>
                <arg name="value" column="column2"/>
            </constructor>
        </association>
    </resultMap>

    <insert id="addRecord">
        INSERT INTO records(column1,
                            column2)
        VALUES (#{column1Value.value},
                #{column2Value.value})
    </insert>

    <select id="fetchRecord" resultMap="Record">
        SELECT record_id,
               column1,
               column2
        FROM records
        WHERE record_id = #{recordIdValue.value}
    </select>

    <update id="updateRecord">
        UPDATE records
        SET column1 = #{column1Value.value},
            column2 = #{column2Value.value}
        WHERE record_id = #{recordIdValue.value}
    </update>

    <delete id="deleteRecord">
        DELETE
        FROM records
        WHERE record_id = #{recordIdValue.value}
    </delete>
</mapper>
