<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_boot_template.infrastructure.task.query.TaskQueryMapper">

    <select id="selectTaskByProjectIdAndTaskId" parameterType="map" resultMap="TaskQueryDto">
        SELECT task_name,
               status,
               assigned_account_id
        FROM tasks
                 LEFT OUTER JOIN task_assigned_accounts
                                 ON tasks.task_id = task_assigned_accounts.task_id
        WHERE project_id = #{projectId.value}
          AND tasks.task_id = #{taskId.value}
        LIMIT 1
    </select>

    <resultMap id="TaskQueryDto" type="com.spring_boot_template.application.task.query.TaskQueryDto">
        <result property="taskName" column="task_name"/>
        <result property="status" column="status"/>
        <collection property="assignedAccountIds"
                    ofType="java.lang.String">
            <result column="assigned_account_id"/>
        </collection>
    </resultMap>
</mapper>
