<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_boot_template.infrastructure.project.query.ProjectQueryMapper">

    <select id="selectProjectsByAccountId" parameterType="map" resultMap="ProjectQueryDto">
        SELECT projects.project_id,
               project_name
        FROM projects
                 INNER JOIN project_account_participations
                            ON projects.project_id = project_account_participations.project_id
        WHERE account_id = #{accountId.value}
    </select>

    <resultMap id="ProjectQueryDto" type="com.spring_boot_template.application.project.query.ProjectQueryDto">
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
    </resultMap>
</mapper>
