<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_boot_template.infrastructure.project.task.due_date_detail.query.DueDateDetailQueryMapper">

    <select id="selectDueDateDetailByTaskId" resultMap="DueDateDetailQueryDto">
        SELECT due_date,
               postpone_count,
               max_postpone_count
        FROM due_date_details
        WHERE task_id = #{taskId.value}
        LIMIT 1 FOR UPDATE
    </select>

    <resultMap id="DueDateDetailQueryDto"
               type="com.spring_boot_template.application.project.task.due_date_detail.query.dto.DueDateDetailQueryDto">
        <association property="dueDateQueryDto"
                     javaType="com.spring_boot_template.application.project.task.due_date_detail.query.dto.DueDateQueryDto">
            <result property="value" column="due_date"/>
        </association>
        <association property="postponeCount"
                     javaType="com.spring_boot_template.domain.model.project.task.due_date_detail.value.PostponeCount">
            <result property="value" column="postpone_count"/>
        </association>
        <association property="maxPostponeCount"
                     javaType="com.spring_boot_template.domain.model.project.task.due_date_detail.value.MaxPostponeCount">
            <result property="value" column="max_postpone_count"/>
        </association>
    </resultMap>
</mapper>
