<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_boot_template.infrastructure.project.ProjectMapper">

    <resultMap id="Task" type="com.spring_boot_template.domain.model.task.Task">
        <result property="taskStatus" column="task_status"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <association property="taskId" javaType="com.spring_boot_template.domain.model.task.value.TaskId">
            <constructor>
                <arg name="value" column="task_id"/>
            </constructor>
        </association>
        <association property="taskName"
                     javaType="com.spring_boot_template.domain.model.task.value.TaskName">
            <constructor>
                <arg name="value" column="task_name"/>
            </constructor>
        </association>
        <association property="assignedUserId"
                     javaType="com.spring_boot_template.domain.model.account.value.AccountId">
            <constructor>
                <arg name="value" column="user_id"/>
            </constructor>
        </association>
        <association property="dueDate"
                     javaType="com.spring_boot_template.domain.model.task.value.DueDate">
            <constructor>
                <arg name="value" column="due_date"/>
            </constructor>
        </association>
        <association property="postponeCount"
                     javaType="com.spring_boot_template.domain.model.task.value.PostponeCount">
            <constructor>
                <arg name="value" column="postpone_count"/>
            </constructor>
        </association>
        <association property="maxPostponeCount"
                     javaType="com.spring_boot_template.domain.model.task.value.MaxPostponeCount">
            <constructor>
                <arg name="value" column="max_postpone_count"/>
            </constructor>
        </association>
    </resultMap>

    <insert id="insertTask">
        INSERT INTO tasks(task_id,
                          task_name,
                          task_status,
                          user_id,
                          due_date,
                          postpone_count,
                          max_postpone_count)
        VALUES (#{taskId.value},
                #{taskName.value},
                #{taskStatus},
                #{assignedUserId.value},
                #{dueDate.value},
                #{postponeCount.value},
                #{maxPostponeCount.value})
    </insert>

    <select id="selectTaskByTaskId" resultMap="Task">
        SELECT task_id,
               task_name,
               task_status,
               user_id,
               due_date,
               postpone_count,
               max_postpone_count
        FROM tasks
        WHERE task_id = #{value}
    </select>

    <select id="selectCountTaskByUserId">
        SELECT COUNT(task_id)
        FROM tasks
        WHERE user_id = #{value}
    </select>

    <update id="updateTaskStatus">
        UPDATE tasks
        SET task_name = #{taskStatus}
        WHERE task_id = #{taskId.value}
    </update>

    <delete id="deleteTask">
        DELETE
        FROM tasks
        WHERE task_id = #{value}
    </delete>
</mapper>
