<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_boot_template.infrastructure.project.ProjectMapper">

    <insert id="upsertProject">
        INSERT INTO projects(project_id,
                             project_name)
        VALUES (#{projectId.value},
                #{projectName.value})
        ON CONFLICT (project_id)
            DO UPDATE SET project_name = EXCLUDED.project_name
    </insert>

    <insert id="insertAccountId" parameterType="map">
        INSERT INTO project_account_participations(project_id,
                                                   account_id)
        VALUES (#{projectId.value},
                #{accountId.value})
    </insert>

    <select id="selectProjectByProjectId" parameterType="map" resultMap="ProjectDto">
        SELECT project_name,
               account_id
        FROM projects
                 INNER JOIN project_account_participations
                            ON projects.project_id = project_account_participations.project_id
        WHERE projects.project_id = #{projectId.value}
        LIMIT 1 FOR UPDATE
    </select>

    <delete id="deleteProject" parameterType="map">
        DELETE
        FROM projects
        WHERE project_id = #{projectId.value}
    </delete>

    <delete id="deleteAccountIds" parameterType="map">
        DELETE
        FROM project_account_participations
        WHERE project_id = #{projectId.value}
    </delete>

    <resultMap id="ProjectDto" type="com.spring_boot_template.infrastructure.project.ProjectDto">
        <association property="projectName" javaType="com.spring_boot_template.domain.model.project.value.ProjectName">
            <result property="value" column="project_name"/>
        </association>
        <collection property="accountIds"
                    ofType="com.spring_boot_template.domain.model.account.value.AccountId">
            <result property="value" column="account_id"/>
        </collection>
    </resultMap>
</mapper>
