<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_boot_template.infrastructure.project.ProjectMapper">

    <insert id="insertProject">
        INSERT INTO projects(project_id,
                             project_name)
        VALUES (#{projectId.value},
                #{projectName.value})
    </insert>

    <insert id="insertTask">
        INSERT INTO tasks(in_project_id,
                          task_id,
                          task_name,
                          status,
                          index)
        VALUES (#{projectId.value},
                #{taskId.value},
                #{taskName.value},
                #{status},
                #{index})
    </insert>

    <select id="selectProjectByProjectId" resultMap="Project">
        SELECT project_name
        FROM projects
        WHERE projects.project_id = #{value}
    </select>

    <select id="selectParticipatingAccountIdsByProjectId"
            resultType="com.spring_boot_template.domain.model.account.value.AccountId">
        SELECT participating_account_id
        FROM project_participation
        WHERE project_id = #{value}
    </select>

    <select id="selectTasksByProjectId" resultMap="Task">
        SELECT tasks.task_id,
               task_name,
               status,
               assigned_account_id,
               index
        FROM tasks
                 LEFT OUTER JOIN task_assignment
                                 on tasks.task_id = task_assignment.task_id
        WHERE in_project_id = #{value}
    </select>

    <select id="selectDueDateDetailsByProjectId" resultMap="DueDateDetail">
        SELECT in_task_id,
               due_date,
               postpone_count,
               max_postpone_count
        FROM tasks
                 INNER JOIN task_due_date_detail
                            on tasks.task_id = task_due_date_detail.in_task_id
        WHERE in_project_id = #{value}
    </select>

    <update id="updateProject">
        UPDATE projects
        SET project_name = #{projectName.value}
        WHERE project_id = #{projectId.value}
    </update>

    <update id="updateTask">
        UPDATE tasks
        SET task_name = #{taskName.value}
        WHERE task_id = #{taskId.value}
    </update>

    <delete id="deleteProject">
        DELETE
        FROM projects
        WHERE project_id = #{value}
    </delete>

    <delete id="deleteTaskByProjectId">
        DELETE
        FROM tasks
        WHERE in_project_id = #{value}
    </delete>

    <delete id="deleteTaskByTaskId">
        DELETE
        FROM tasks
        WHERE task_id = #{value}
    </delete>

    <resultMap id="Project" type="com.spring_boot_template.infrastructure.project.dto.ProjectDto">
        <association property="projectName" javaType="com.spring_boot_template.domain.model.project.value.ProjectName">
            <constructor>
                <arg name="value" column="project_name"/>
            </constructor>
        </association>
    </resultMap>

    <resultMap id="Task" type="com.spring_boot_template.infrastructure.project.dto.TaskDto">
        <result property="status" column="status" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="index" column="index"/>
        <association property="taskId" javaType="com.spring_boot_template.domain.model.project.task.value.TaskId">
            <constructor>
                <arg name="value" column="task_id"/>
            </constructor>
        </association>
        <association property="taskName" javaType="com.spring_boot_template.domain.model.project.task.value.TaskName">
            <constructor>
                <arg name="value" column="task_name"/>
            </constructor>
        </association>
        <collection property="assignedAccountIds"
                    ofType="com.spring_boot_template.domain.model.account.value.AccountId">
            <constructor>
                <arg name="value" column="assigned_account_id"/>
            </constructor>
        </collection>
    </resultMap>

    <resultMap id="DueDateDetail" type="com.spring_boot_template.infrastructure.project.dto.DueDateDetailDto">
        <association property="taskId" javaType="com.spring_boot_template.domain.model.project.task.value.TaskId">
            <constructor>
                <arg name="value" column="in_task_id"/>
            </constructor>
        </association>
        <association property="dueDate"
                     javaType="com.spring_boot_template.domain.model.project.task.due_date_detail.value.DueDate">
            <constructor>
                <arg name="value" column="due_date"/>
            </constructor>
        </association>
        <association property="postponeCount"
                     javaType="com.spring_boot_template.domain.model.project.task.due_date_detail.value.PostponeCount">
            <constructor>
                <arg name="value" column="postpone_count"/>
            </constructor>
        </association>
        <association property="maxPostponeCount"
                     javaType="com.spring_boot_template.domain.model.project.task.due_date_detail.value.MaxPostponeCount">
            <constructor>
                <arg name="value" column="max_postpone_count"/>
            </constructor>
        </association>
    </resultMap>
</mapper>
